<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardShortcuts_popup</key>
	<string>{"carbonModifiers":768,"carbonKeyCode":8}</string>
	<key>hideFooter</key>
	<true/>
	<key>hideTitle</key>
	<true/>
	<key>showInStatusBar</key>
	<false/>
	<key>fuzzySearch</key>
	<true/>
	<key>ignoredPasteboardTypes</key>
	<array>
		<string>Pasteboard generator type</string>
		<string>com.agilebits.onepassword</string>
		<string>com.typeit4me.clipping</string>
		<string>de.petermaurer.TransientPasteboardType</string>
	</array>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUSendProfileInfo</key>
	<false/>
</dict>
</plist>
