protonmail-bridge/bin/bridge filter=lfs diff=lfs merge=lfs -text
macOS/**/*.icns filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/JetBrains[[:space:]]ToolBox.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Lantern.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/MediaInfo.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Orbot.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Signal.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Touchbar[[:space:]]Nyan[[:space:]]Cat.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/WiFi[[:space:]]Explorer[[:space:]]Pro[[:space:]]3.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/AdGuard[[:space:]]VPN.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Cisco[[:space:]]AnyConnect.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/DaisyDisk.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Krisp.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Spotify.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Transmission.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Wineskin[[:space:]]Winery.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Proton[[:space:]]Mail.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Sideloadly.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Bonjeff.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/ConnectMeNow.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Yubikey[[:space:]]Manager.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Charles.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/IntelliJ[[:space:]]IDEA[[:space:]]EAP.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/IntelliJ[[:space:]]IDEA[[:space:]]Ultimate.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/KeyKey.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Raycast.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Tor[[:space:]]Browser.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Brave[[:space:]]Browser.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Docker.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Nimble[[:space:]]Commander.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Pixelmator[[:space:]]Pro.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Strongbox.icns filter=lfs diff=lfs merge=lfs -text
macOS/icons/Sublime[[:space:]]Text.icns filter=lfs diff=lfs merge=lfs -text
