<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CloseController</key>
	<true/>
	<key>ColorIcons</key>
	<false/>
	<key>DefaultActionToPerform</key>
	<integer>2</integer>
	<key>DefaultAppDialog</key>
	<false/>
	<key>DefaultExtractLocationController</key>
	<integer>2</integer>
	<key>DefaultExtractLocationSet</key>
	<string></string>
	<key>DefaultFormat</key>
	<string>7z</string>
	<key>DefaultMethod</key>
	<integer>5</integer>
	<key>DefaultName</key>
	<string>Same as original file</string>
	<key>DefaultNameController</key>
	<integer>1</integer>
	<key>DefaultNameSet</key>
	<string></string>
	<key>DefaultSaveLocation</key>
	<string>Next to original file</string>
	<key>DefaultSaveLocationController</key>
	<integer>2</integer>
	<key>DefaultSaveLocationSet</key>
	<string/>
	<key>DefaultSoundCompression</key>
	<integer>0</integer>
	<key>DefaultSoundExtraction</key>
	<integer>0</integer>
	<key>DeleteAfterCompression</key>
	<false/>
	<key>DeleteAfterExtraction</key>
	<false/>
	<key>DevLog</key>
	<false/>
	<key>DevLogNotifications</key>
	<false/>
	<key>DevLogReader</key>
	<false/>
	<key>DevSaveLog</key>
	<false/>
	<key>Encryption</key>
	<true/>
	<key>ExcludeMacForks</key>
	<true/>
	<key>ExitStatus</key>
	<true/>
	<key>ExportPassword</key>
	<false/>
	<key>FinderAfterCompression</key>
	<false/>
	<key>FinderAfterExtraction</key>
	<false/>
	<key>ForceHFSDMG</key>
	<true/>
	<key>GrowlBlocksExit</key>
	<true/>
	<key>KekaFirstStart</key>
	<false/>
	<key>KekaLaunchTimes</key>
	<integer>0</integer>
	<key>OldServicesChecked</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SelectedTab</key>
	<string>7z</string>
	<key>SelectedTabDefaults</key>
	<integer>1003</integer>
	<key>SetAsDefaultApp</key>
	<false/>
	<key>SolidArchive</key>
	<true/>
	<key>TarballSupport</key>
	<true/>
	<key>TasksList</key>
	<array/>
	<key>UnifiedToolbar</key>
	<true/>
	<key>UnrarWithP7ZIP</key>
	<false/>
	<key>UnzipWithUNAR</key>
	<true/>
	<key>UseGrowl</key>
	<false/>
	<key>UseMultithreadLzip</key>
	<true/>
	<key>UseMultithreadPbzip2</key>
	<true/>
	<key>Version</key>
	<integer>3477</integer>
	<key>ZipUsingAES</key>
	<false/>
</dict>
</plist>
