<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>AdvancedDetailsViewFontSize</key>
	<real>12</real>
	<key>AutoSaveFiles</key>
	<true/>
	<key>ColoringRuleSetName</key>
	<string>Default</string>
	<key>ColoringRuleSets</key>
	<dict>
		<key>ColoringRuleSets</key>
		<array>
			<dict>
				<key>ColoringRuleSet</key>
				<array/>
				<key>ColoringRuleSetDefault</key>
				<true/>
				<key>ColoringRuleSetName</key>
				<string>Default</string>
			</dict>
		</array>
		<key>Version</key>
		<integer>1</integer>
	</dict>
	<key>Experimental6GHzSupport</key>
	<true/>
	<key>Filters</key>
	<dict>
		<key>Filters</key>
		<array/>
		<key>Version</key>
		<integer>1</integer>
	</dict>
	<key>NetworkSignalStrengthViewTimescale</key>
	<integer>300</integer>
	<key>NetworksViewFontSize</key>
	<real>12</real>
	<key>ProfileName</key>
	<string>Default</string>
	<key>Profiles</key>
	<dict>
		<key>Profiles</key>
		<array>
			<dict>
				<key>ProfileColumns</key>
				<array>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>BSSID</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>SSID</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>COUNT</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>VENDOR</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>DEVICE_NAME</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>ANNOTATIONS</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>RSSI</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>NOISE</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>SNR</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>CHANNEL</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>CENTER_FREQUENCY</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>CHANNEL_CENTER</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>CHANNEL_WIDTH</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>CHANNEL_BAND</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>CC</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>PHY_MODE</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>GENERATION_NAME</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>AMENDMENTS</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>SECURITY_MODE</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>NETWORK_TYPE</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>HT_PROTECTION</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>FAST_BSS_TRANSITION</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>STREAMS</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>BASIC_RATES</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>MIN_BASIC_RATE</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>MAX_BASIC_RATE</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>MIN_RATE</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>MAX_RATE</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>CLIENT_COUNT</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>STATION_COUNT</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>CHANNEL_UTILIZATION</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>BEACON_INT</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>BEACON_RATE</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>BEACON_AIRTIME</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>INFO_ELEMENTS_COUNT</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>INFO_ELEMENTS_TOTAL_LENGTH</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>BEACON_MODE</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>UPTIME</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>FIRST_SEEN</string>
					</dict>
					<dict>
						<key>hidden</key>
						<true/>
						<key>identifier</key>
						<string>LAST_SEEN</string>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>SEEN</string>
					</dict>
				</array>
				<key>ProfileDefault</key>
				<true/>
				<key>ProfileName</key>
				<string>Default</string>
			</dict>
		</array>
		<key>Version</key>
		<integer>1</integer>
	</dict>
	<key>QLGeneratorInstalled</key>
	<true/>
	<key>RanOnce_1</key>
	<true/>
	<key>SaveAlertSupressionButton</key>
	<integer>0</integer>
	<key>SelectedTabViewIdentifier</key>
	<string>SPECTRUM_6GHZ</string>
	<key>Sensors</key>
	<dict>
		<key>Sensors</key>
		<array/>
		<key>Version</key>
		<integer>1</integer>
	</dict>
	<key>SideViewExpandedItems</key>
	<array/>
	<key>SideViewFontSize</key>
	<real>12</real>
	<key>SidebarViewControllerDidRegisterDefaultsKey</key>
	<true/>
	<key>SignalStrengthViewTimescale</key>
	<integer>300</integer>
	<key>UpdateAlertSuppressionButton</key>
	<integer>1</integer>
	<key>category-accesspoint</key>
	<true/>
	<key>category-channel</key>
	<true/>
	<key>category-channelwidth</key>
	<true/>
	<key>category-networkname</key>
	<true/>
	<key>category-phymode</key>
	<true/>
	<key>category-securitymode</key>
	<true/>
	<key>category-vendor</key>
	<true/>
</dict>
</plist>
