<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>launchOnLogin</key>
	<true/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>hideMenubarIcon</key>
	<true/>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
</dict>
</plist>
