<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConnectViewConnectConnectionType</key>
	<string>VNC</string>
	<key>ConnectViewShowAdvanced</key>
	<false/>
	<key>FileEditors</key>
	<array>
		<dict>
			<key>ApplicationPath</key>
			<string>/Applications/Sublime Text.app</string>
			<key>Default</key>
			<true/>
			<key>Extensions</key>
			<string></string>
		</dict>
	</array>
	<key>ForkLiftMiniEnabled</key>
	<false/>
	<key>HoudahSpotAdded</key>
	<true/>
	<key>KeyWindowLeftViewMode</key>
	<integer>0</integer>
	<key>KeyWindowRightViewMode</key>
	<integer>0</integer>
	<key>NSConstraintBasedLayoutVisualizeMutuallyExclusiveConstraints</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SetupDone</key>
	<true/>
	<key>ShowTabbar</key>
	<false/>
	<key>ShowTitlebar</key>
	<false/>
	<key>SidebarShowDeviceinfo</key>
	<true/>
	<key>TerminalApplication</key>
	<integer>1</integer>
	<key>ToolConfigurations</key>
	<array>
		<dict>
			<key>UUID</key>
			<string>0462091D-8D0A-418A-9C15-E03FEABC0113</string>
			<key>command</key>
			<string>/usr/bin/touch $SOURCE_SELECTION_PATHS</string>
			<key>title</key>
			<string>Touch</string>
		</dict>
		<dict>
			<key>UUID</key>
			<string>1358B78F-8A06-47D1-945E-668FCD3B413C</string>
			<key>command</key>
			<string>/usr/bin/open houdahspot4://search?location=$SOURCE_PATH</string>
			<key>title</key>
			<string>Search in HoudahSpot</string>
		</dict>
	</array>
	<key>TreatArchivesAsFolders</key>
	<true/>
	<key>UserKeyBindings</key>
	<dict>
		<key>hide:</key>
		<dict>
			<key>KeyEquivalent</key>
			<string>q</string>
			<key>ModifierMask</key>
			<integer>1048576</integer>
		</dict>
		<key>openInTerminal:</key>
		<dict>
			<key>KeyEquivalent</key>
			<string>0</string>
			<key>ModifierMask</key>
			<integer>1048576</integer>
		</dict>
		<key>terminate:</key>
		<dict>
			<key>KeyEquivalent</key>
			<string></string>
			<key>ModifierMask</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>VividSelectionColors</key>
	<string>true</string>
</dict>
</plist>
