<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Migrated_6.0</key>
    <true/>
    <key>Migrated_6.22</key>
    <true/>
    <key>UpdateCheckerAutomaticDisabled</key>
    <true/>
    <key>UpdateCheckerDisabled</key>
    <true/>
    <key>Battery_DisableBluetooth</key>
    <integer>0</integer>
    <key>Battery_MenubarCustomizeStates</key>
    <integer>0</integer>
    <key>Battery_MenubarItems</key>
    <array/>
    <key>Battery_MenubarMode</key>
    <array/>
    <key>CPU_MenubarMode</key>
    <array/>
    <key>CombinedDropdownDisplayMode</key>
    <array>
      <dict>
        <key>key</key>
        <string>1</string>
        <key>uuid</key>
        <string>F473217E-CAB1-48A2-975F-7AE41EAC29C7</string>
      </dict>
      <dict>
        <key>key</key>
        <string>2</string>
        <key>uuid</key>
        <string>6E0ED394-6854-48D2-8DCA-D30A64571298</string>
      </dict>
      <dict>
        <key>key</key>
        <string>3</string>
        <key>uuid</key>
        <string>BD975FC9-AF68-474A-8962-19F40E1032A4</string>
      </dict>
      <dict>
        <key>key</key>
        <string>4</string>
        <key>uuid</key>
        <string>3C7D78A7-AA38-4D01-B76E-5840D19A94E8</string>
      </dict>
      <dict>
        <key>key</key>
        <string>6</string>
        <key>uuid</key>
        <string>86A094AE-DA23-42B4-BE79-866111423E79</string>
      </dict>
      <dict>
        <key>key</key>
        <string>5</string>
        <key>uuid</key>
        <string>24BB035C-2E7C-4347-9663-BED61345EBDF</string>
      </dict>
    </array>
    <key>CombinedMenubarDisplayMode</key>
    <array/>
    <key>Disks_MenubarItems</key>
    <array/>
    <key>Disks_MenubarMode</key>
    <array/>
    <key>DropdownTheme-Dark</key>
    <integer>3</integer>
    <key>Memory_MenubarMode</key>
    <array/>
    <key>Network_MenubarMode</key>
    <array/>
    <key>Notifications-Enabled</key>
    <false/>
    <key>Notifications-Items</key>
    <array/>
    <key>Sensors_MenubarItems</key>
    <array>
      <dict>
        <key>key</key>
        <string>TC0P</string>
      </dict>
    </array>
    <key>Sensors_MenubarMode</key>
    <array/>
    <key>StatusItems-Order</key>
    <array>
      <integer>8</integer>
    </array>
    <key>Theme-SeperateStyles</key>
    <false/>
    <key>Time_CalendarShowWeeks</key>
    <integer>1</integer>
    <key>Time_Cities</key>
    <array>
      <dict>
        <key>city</key>
        <string>Moon</string>
        <key>city_plain</key>
        <string/>
        <key>country</key>
        <string/>
        <key>identifier</key>
        <real>-6</real>
        <key>latitude</key>
        <real>0.0</real>
        <key>longitude</key>
        <real>0.0</real>
        <key>population</key>
        <real>99999999</real>
        <key>state</key>
        <string/>
        <key>timezone</key>
        <string/>
      </dict>
    </array>
    <key>Time_EventsRange</key>
    <integer>0</integer>
    <key>Time_MenubarFormat</key>
    <array>
      <dict>
        <key>format</key>
        <array>
          <array>
            <string>EE</string>
            <string>' '</string>
            <string>d</string>
            <string>' '</string>
            <string>MMM</string>
            <string>' ('</string>
            <string>M</string>
            <string>') '</string>
            <string>HH</string>
            <string>':'</string>
            <string>mm</string>
            <string>':'</string>
            <string>ss</string>
          </array>
          <array/>
        </array>
      </dict>
    </array>
    <key>Time_WeekNumberFormat</key>
    <integer>1</integer>
    <key>TimerFrequency</key>
    <integer>1</integer>
    <key>Weather_DropdownOrderDisabled</key>
    <string/>
    <key>Weather_MenubarMode</key>
    <array/>
  </dict>
</plist>