<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>app-tracking-request-was-sent</key>
	<true/>
	<key>es-app-exclusions-mode</key>
	<integer>2</integer>
	<key>es-app-exclusions-regular</key>
	<data>
	W10=
	</data>
	<key>es-app-exclusions-selective</key>
	<data>
	W10=
	</data>
	<key>es-web-exclusions-mode</key>
	<integer>2</integer>
	<key>es-web-exclusions-regular</key>
	<data>
	W10=
	</data>
	<key>es-web-exclusions-selective</key>
	<data>
	W10=
	</data>
	<key>gs-auto-connect</key>
	<false/>
	<key>gs-auto-start</key>
	<false/>
	<key>gs-auto-update</key>
	<false/>
	<key>gs-hardware-rendering</key>
	<true/>
	<key>gs-kill-switch</key>
	<false/>
	<key>gs-macos-hide-menu-bar-icon</key>
	<false/>
	<key>gs-macos-vpn-protocol</key>
	<integer>1</integer>
	<key>gs-routing-protocol</key>
	<integer>1</integer>
	<key>gs-send-statistics</key>
	<false/>
	<key>gs-socks-port</key>
	<integer>1080</integer>
	<key>gs-statistics-enabled</key>
	<false/>
	<key>gs-upstream-quic</key>
	<true/>
	<key>uc-color-theme</key>
	<integer>3</integer>
	<key>uc-enable-system-theme</key>
	<true/>
	<key>uc-language-code</key>
	<string>en</string>
</dict>
</plist>
