<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BandLimitationValue</key>
	<integer>100</integer>
	<key>DontShowAgain</key>
	<dict>
		<key>DefApp</key>
		<false/>
	</dict>
	<key>EnabledAgent</key>
	<false/>
	<key>EnabledPlugin</key>
	<false/>
	<key>FilterItemSeeding</key>
	<false/>
	<key>GeneralUserSettings</key>
	<dict>
		<key>AllTasksCompleteAction</key>
		<integer>3</integer>
		<key>AllTasksCompleteActionEnabled</key>
		<false/>
		<key>AutoDownloadOnSDStartup</key>
		<true/>
		<key>AutoSpeedLimitationValue</key>
		<integer>100</integer>
		<key>AutoSpeedUpLimitationValue</key>
		<integer>5</integer>
		<key>AutoStartSDOnStartSheduler</key>
		<false/>
		<key>CheckValidSize</key>
		<false/>
		<key>ConnectionType</key>
		<integer>5</integer>
		<key>ConnectionTypeSpeedLimit</key>
		<integer>160000</integer>
		<key>DefaultDownloadDirectory</key>
		<string>~/Downloads</string>
		<key>DefaultTorrentSaveFolder</key>
		<string>~/Downloads/</string>
		<key>DeleteTorrentsEnable</key>
		<false/>
		<key>EnableDHT</key>
		<true/>
		<key>EnableIgnoreDomains</key>
		<integer>0</integer>
		<key>EnableLPD</key>
		<true/>
		<key>EnableNATPMP</key>
		<true/>
		<key>EnablePEX</key>
		<true/>
		<key>EnableUPNP</key>
		<true/>
		<key>EnableUTP</key>
		<true/>
		<key>EnabledAgent</key>
		<true/>
		<key>EnabledFTPProxy</key>
		<false/>
		<key>EnabledHTTPProxy</key>
		<false/>
		<key>EnabledHTTPSProxy</key>
		<false/>
		<key>EnabledPlugin</key>
		<true/>
		<key>EnabledSOCKSProxy</key>
		<false/>
		<key>EnabledSystemProxy</key>
		<false/>
		<key>FTPProxy</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>port</key>
			<integer>0</integer>
			<key>server</key>
			<string></string>
			<key>user</key>
			<string></string>
		</dict>
		<key>FolxIsTorrentSeedRatioLimit</key>
		<false/>
		<key>FolxTorrentSeedRatioLimit</key>
		<real>2</real>
		<key>GlobalHalfOpenConnections</key>
		<integer>200</integer>
		<key>GlobalMaxConnections</key>
		<integer>200</integer>
		<key>GlobalUploadSlots</key>
		<integer>20</integer>
		<key>HTTPProxy</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>port</key>
			<integer>0</integer>
			<key>server</key>
			<string></string>
			<key>user</key>
			<string></string>
		</dict>
		<key>HTTPSProxy</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>port</key>
			<integer>0</integer>
			<key>server</key>
			<string></string>
			<key>user</key>
			<string></string>
		</dict>
		<key>IgnoreDomains</key>
		<string></string>
		<key>IgnoreUnEncryptedPeers</key>
		<false/>
		<key>LoadTorrentsEnable</key>
		<false/>
		<key>LoadTorrentsPath</key>
		<string>/Users/rb/Downloads</string>
		<key>MaxTaskActive</key>
		<integer>5</integer>
		<key>MaxTaskUploadsActive</key>
		<integer>5</integer>
		<key>MinBytesPerNewThread</key>
		<integer>400</integer>
		<key>MoveTorrentsEnable</key>
		<false/>
		<key>MoveTorrentsPath</key>
		<string>/Users/rb/Downloads</string>
		<key>NOUseProxyServers</key>
		<string></string>
		<key>OnSchedulerStopActionType</key>
		<integer>3</integer>
		<key>OnSchedulerStopEnable</key>
		<false/>
		<key>OnlyCompact</key>
		<true/>
		<key>PreferEncryptedPeers</key>
		<true/>
		<key>SOCKSProxy</key>
		<dict>
			<key>password</key>
			<string></string>
			<key>port</key>
			<integer>0</integer>
			<key>server</key>
			<string></string>
			<key>type</key>
			<integer>1</integer>
			<key>user</key>
			<string></string>
		</dict>
		<key>SchedulerSpeedLimitEnable</key>
		<false/>
		<key>SearchEnabled</key>
		<array>
			<integer>21</integer>
			<integer>50</integer>
			<integer>2</integer>
			<integer>52</integer>
			<integer>12</integer>
			<integer>51</integer>
			<integer>53</integer>
			<integer>23</integer>
			<integer>7</integer>
			<integer>22</integer>
			<integer>17</integer>
			<integer>18</integer>
			<integer>19</integer>
		</array>
		<key>SelectedPreferensToolBar</key>
		<string>General</string>
		<key>ShowNewTaskWindow</key>
		<true/>
		<key>ShowStatusIcon</key>
		<true/>
		<key>SoundAfterDownloadedAllTaskON</key>
		<true/>
		<key>SoundAfterDownloadedTaskON</key>
		<true/>
		<key>SpeedLimitAppActivity</key>
		<false/>
		<key>StartAtLogin</key>
		<false/>
		<key>StopSchedulerEnabled</key>
		<false/>
		<key>StoreTorrentsEnable</key>
		<true/>
		<key>StoreTorrentsPath</key>
		<string>~/Downloads/Torrent</string>
		<key>SwitchToAllTasks</key>
		<true/>
		<key>SсhedulerEnabled</key>
		<false/>
		<key>TaggsFolderDic</key>
		<dict>
			<key>application</key>
			<string>~/Downloads</string>
			<key>movie</key>
			<string>~/Downloads</string>
			<key>music</key>
			<string>~/Downloads</string>
			<key>other</key>
			<string>~/Downloads</string>
			<key>picture</key>
			<string>~/Downloads</string>
		</dict>
		<key>TimerUpdateVal</key>
		<integer>1</integer>
		<key>TorrentMaxConnections</key>
		<integer>50</integer>
		<key>TorrentTCPPort</key>
		<integer>18762</integer>
		<key>TorrentUploadSlots</key>
		<integer>20</integer>
		<key>TorrentUseRandomPortAtStartup</key>
		<false/>
		<key>UserAgentType</key>
		<integer>7</integer>
		<key>errorRetryCount</key>
		<integer>100</integer>
		<key>tSearchSortAsk</key>
		<false/>
		<key>tSearchSortType</key>
		<string>seeders</string>
	</dict>
	<key>LastSelectedPrefTab</key>
	<integer>0</integer>
	<key>NotFirstStart</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>SendAppStatico</key>
	<false/>
	<key>SpecialOfferFolx5</key>
	<dict>
		<key>FirstUse</key>
		<date>2021-12-08T09:37:16Z</date>
		<key>UseCount</key>
		<integer>0</integer>
	</dict>
	<key>SpeedLimitType</key>
	<integer>0</integer>
	<key>SpeedUpDown</key>
	<false/>
	<key>SpeedUpLimitType</key>
	<integer>0</integer>
	<key>SpeedUpLimitationValue</key>
	<integer>5</integer>
	<key>removedOld</key>
	<true/>
</dict>
</plist>
