# ==========================================
#                  .aliases
# ==========================================

alias stfu="osascript -e 'set volume output muted true'"
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Weather
alias weather="curl v2.wttr.in"

# Shortcuts
alias d="cd ~/Documents"
alias dl="cd ~/Downloads"
alias w="cd ~/Work"
alias h="history"
alias j="jobs"

# Update stuff
alias update-brew="echo "Core:"; brew update | lolcat; brew upgrade --formula | lolcat; brew cleanup formula -s --prune 1 | lolcat; echo "Cask:"; brew cu -a -y --no-brew-update --cleanup | lolcat; echo "MAS:"; mas upgrade | lolcat"

# Kill all the tabs in Chrome to free up memory
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Always enable colored `grep` output
alias grep='grep --color=auto'
alias duh="du -d 1 -h"
alias dua="du -ah"
