<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoSize</key>
	<true/>
	<key>BindPort</key>
	<integer>51413</integer>
	<key>CheckQuitDownloading</key>
	<true/>
	<key>CheckRemoveDownloading</key>
	<true/>
	<key>CollapsedGroups</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhBFOU011dGFibGVJbmRleFNldACEhApOU0luZGV4
	U2V0AISECE5TT2JqZWN0AIWEAUkAhg==
	</data>
	<key>DownloadAskManual</key>
	<true/>
	<key>DownloadAskMulti</key>
	<true/>
	<key>DownloadLocationConstant</key>
	<true/>
	<key>IncompleteDownloadFolder</key>
	<string>~/Downloads/Torrent</string>
	<key>InfoVisible</key>
	<false/>
	<key>InspectorSelected</key>
	<string>Info</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SelectedPrefView</key>
	<string>TOOLBAR_REMOTE</string>
	<key>UseIncompleteDownloadFolder</key>
	<true/>
	<key>WarningLegal</key>
	<false/>
</dict>
</plist>
