<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoSize</key>
	<true/>
	<key>AutoStartDownload</key>
	<true/>
	<key>BindPort</key>
	<integer>51413</integer>
	<key>BlocklistNew</key>
	<false/>
	<key>BlocklistURL</key>
	<string>http://www.example.com/blocklist</string>
	<key>CheckDownload</key>
	<false/>
	<key>CheckStalled</key>
	<false/>
	<key>CheckUpload</key>
	<false/>
	<key>DHTGlobal</key>
	<true/>
	<key>DisplayProgressBarAvailable</key>
	<true/>
	<key>DoneScriptEnabled</key>
	<false/>
	<key>DoneScriptPath</key>
	<string></string>
	<key>DownloadFolder</key>
	<string>/Volumes/Downloads</string>
	<key>DownloadLimit</key>
	<integer>100</integer>
	<key>DownloadLocationConstant</key>
	<true/>
	<key>EncryptionPrefer</key>
	<true/>
	<key>EncryptionRequire</key>
	<false/>
	<key>IdleLimitCheck</key>
	<false/>
	<key>IdleLimitMinutes</key>
	<integer>30</integer>
	<key>IncompleteDownloadFolder</key>
	<string>/Users/f0w/Downloads</string>
	<key>InfoVisible</key>
	<false/>
	<key>InspectorContentHeightFiles</key>
	<real>372</real>
	<key>InspectorContentHeightPeers</key>
	<real>282</real>
	<key>InspectorContentHeightTracker</key>
	<real>352</real>
	<key>InspectorSelected</key>
	<string>Tracker</string>
	<key>LocalPeerDiscoveryGlobal</key>
	<false/>
	<key>NatTraversal</key>
	<true/>
	<key>PEXGlobal</key>
	<true/>
	<key>PeersTorrent</key>
	<integer>60</integer>
	<key>PeersTotal</key>
	<integer>200</integer>
	<key>PiecesBar</key>
	<true/>
	<key>PiecesViewShowAvailability</key>
	<false/>
	<key>Queue</key>
	<false/>
	<key>QueueDownloadNumber</key>
	<integer>3</integer>
	<key>QueueSeed</key>
	<false/>
	<key>QueueSeedNumber</key>
	<integer>3</integer>
	<key>RPC</key>
	<true/>
	<key>RPCAuthorize</key>
	<true/>
	<key>RPCHostWhitelist</key>
	<string>torrent.f0w.local</string>
	<key>RPCPort</key>
	<integer>9091</integer>
	<key>RPCUseHostWhitelist</key>
	<string>true</string>
	<key>RPCUsername</key>
	<string>dl</string>
	<key>RPCWhitelist</key>
	<array>
		<string>127.0.0.1</string>
	</array>
	<key>RandomPort</key>
	<false/>
	<key>RatioCheck</key>
	<false/>
	<key>RatioLimit</key>
	<real>2</real>
	<key>RenamePartialFiles</key>
	<true/>
	<key>SelectedPrefView</key>
	<string>TOOLBAR_TRANSFERS</string>
	<key>SleepPrevent</key>
	<false/>
	<key>SmallView</key>
	<false/>
	<key>SpeedLimit</key>
	<false/>
	<key>SpeedLimitAuto</key>
	<false/>
	<key>SpeedLimitAutoDay</key>
	<integer>127</integer>
	<key>SpeedLimitAutoOffDate</key>
	<date>0000-12-30T13:29:43Z</date>
	<key>SpeedLimitAutoOnDate</key>
	<date>0000-12-30T03:29:43Z</date>
	<key>SpeedLimitDownloadLimit</key>
	<integer>10</integer>
	<key>SpeedLimitUploadLimit</key>
	<integer>10</integer>
	<key>StalledMinutes</key>
	<integer>30</integer>
	<key>UTPGlobal</key>
	<true/>
	<key>UploadLimit</key>
	<integer>50</integer>
	<key>UseIncompleteDownloadFolder</key>
	<true/>
	<key>WarningDonate</key>
	<false/>
	<key>WarningLegal</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUSendProfileInfo</key>
	<false/>
</dict>
</plist>
